<div class="container">
    <div>
        <h2>Modifier un medecin :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >ID medecin</label>
                <input  readonly type="text" [(ngModel)]="currentmedecin.idmedecin"name="idmedecin" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom medecin</label>
                <input type="text"[(ngModel)]= "currentmedecin.nommedecin"name="nommedecin" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >specialité</label>
                <input type="string" [(ngModel)]= "currentmedecin.specialite"name="specialite" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date naissance</label>
            <input type="date" [ngModel]="currentmedecin.datenaissance | date: 'yyyy-MM-dd'"(ngModelChange)=" currentmedecin.datenaissance= $event" name="datenaissance"class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>faculte</label>
                <select class="form-control form-control-lg" id="idCat" name="idCat"[(ngModel)]="updateFacId">
                    <option *ngFor="let fac of facultes" [value]="fac.idfac" >{{fac.nomfac}}
                    </option>
                </select>
            </div>
        <div class="mt-2">
            <button type="submit" (click)="updatemedecin()" class="btn btn-success">Modifer</button>
        </div>
    
    </form>
</div>
